<div style="margin-bottom:5px">
	<p><%=@bonds.size%> <%if @bond_updated_at%><span style='font-size:14px;color:#666'><%=@bond_updated_at.strftime('%Y-%m-%d %H:%M:%S')%></span><%end%> <span id='update_button' style="margin-left:10px">[<a href="/bond/update" style="text-decoration:none">Update</a>]</span></p>
	<div class='clear'></div>
</div>
<table class='borderTable'>
	<thead>
		<tr>
			<td>Name</td>
			<td style='width:50px'>Rating</td>
			<td>Price</td>
			<td>Coupon</td>
			<td>Revenue</td>
			<td>YTM</td>
			<td>Hold years</td>
			<td><a href='/bond?sort=md'>Maturity date</a></td>
			<td>Quantity</td>
			<td><a href='/bond?sort=crd&filter=today'>Changed</a></td>
			<td>Volume</td>
			<td>Frequency</td>
			<td>Update on</td>
		</tr>
	</thead>
	<tbody>
		<%@bonds.each do |bond|%>
		<tr>
			<td style='width:150px'><a target='_blank' alt='<%bond.code%>' href='<%=hexun_bond_link(bond)%>'><%=bond.name%></a> (<%=bond.code%>)</td>
			<td style='width:50px'><%=bond.rating%></td>
			<td><a target='_blank' href='/tool/bond_revenue?code=<%=bond.code%>'><%=bond.price%> (<%=bond.accrued_interest%>)</a></td>
			<td style='width:70px'><%=bond.coupon_percent%> (<%=bond.year_interest%>)</td>
			<td style='width:120px'><%=bond.total_revenue%> ( <%=bond.compound_revenue%> ) </td>
			<%rate = bond.rate_of_compound_interest%>
			<td><%=rate[0]%> ( <%=rate[1]%> ) </td>						
			<td><%=bond.hold_years%>
			<td><%=bond.maturity_date.strftime('%Y-%m-%d')%></td>
			<td><%=bond.quantity%></td>
			<td class="<%if bond.change_rate > 0%>upRed<%else%>downGreen<%end%>"><%=bond.change_rate%></td>
			<td><%=bond.volume > 10000 ? "#{(bond.volume/10000).round(1)} 万" : bond.volume.to_i%></td>
			<td><%=bond.par_frequency%></td>
			<td><%=bond.updated_at.strftime('%Y-%m-%d')%></td>
		</tr>
		<%end%>
	</tbody>
</table>	
