<style type='text/css'>
	table tr{
		border:1px solid #666;
	}
	table td{
		border-right:1px solid #666;
		width:100px;
	}
	.upRed{
		color:red
	}
	.downGreen{
		color:green
	}
</style>
<table>
	<thead>
		<tr>
			<td>Name</td>
			<td>Code</td>
			<td>Price</td>			
			<td>revenue</td>
			<td>compound_interest</td>
			<td>revenue/10000</td>
			<td>compound_interest/10000</td>
			<td>Hold years</td>
			<td>dead date</td>
			<td>changed</td>
			<td>Update on</td>
		</tr>
	</thead>
	<tbody>
		<%@bonds.each do |bond|%>
		<tr>
			<td><%=bond.name%></td>
			<td><a target='_blank' href='<%=bond.detail_url%>'><%=bond.code%></a></td>
			<td><%=bond.price%></td>
			<td><%=bond.total_revenue%></td>
			<td><%=bond.compound_interest%></td>
			<td><%=bond.ten_thousand_revenue%></td>
			<td><%=bond.ten_thousand_compound_interest%></td>
			<td><%=bond.hold_years%>
			<td><%=bond.issue_date.advance(:years => bond.term).strftime('%Y-%m-%d')%></td>
			<td class="<%if bond.change_rate > 0%>upRed<%else%>downGreen<%end%>"><%=bond.change_rate%></td>
			<td><%=bond.updated_at.strftime('%Y-%m-%d')%></td>
		</tr>
		<%end%>
	</tbody>
</table>	
