<style type='text/css'>
	table tr{
		border:1px solid #666;
	}
	table td{
		border-right:1px solid #666;
		width:100px;
	}
	.upRed{
		color:red
	}
	.downGreen{
		color:green
	}
</style>

<table>
	<thead>
		<tr>
			<td>Name</td>
			<td>Price</td>
			<td>Coupon</td>
			<td>Revenue</td>
			<td>YTM</td>
			<td>Hold years</td>
			<td>dead date</td>
			<td>changed</td>
			<td>Frequency</td>
			<td>Update on</td>
		</tr>
	</thead>
	<tbody>
		<%@bonds.each do |bond|%>
		<tr>
			<td><a target='_blank' alt='<%bond.code%>' href='<%=bond.detail_url%>'><%=bond.name%></a></td>
			<td><%=bond.price%> (<%=bond.accrued_interest%>)</td>
			<td><%=bond.coupon%> (<%=bond.year_interest%>)</td>
			<td><%=bond.total_revenue%></td>
			<%rate = bond.rate_of_compound_interest%>
			<td><%=rate[0]%></td>						
			<td><%=bond.hold_years%>
			<td><%=bond.dated_date.advance(:years => bond.maturity).strftime('%Y-%m-%d')%></td>
			<td class="<%if bond.change_rate > 0%>upRed<%else%>downGreen<%end%>"><%=bond.change_rate%></td>
			<td><%=bond.par_frequency%></td>
			<td><%=bond.updated_at.strftime('%Y-%m-%d')%></td>
		</tr>
		<%end%>
	</tbody>
</table>	
